#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    background: #4fc4cf;

    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 320px;
    }
  }

  main {
    flex: 8;

    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 320px;

    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
      margin-bottom: 48px;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: #fff;
        border: 1px solid #4fc4cf;
      }

      button {
        margin-top: 16px;

        background: #4fc4cf;
        color: #181818;

        align-items: center;
        justify-content: center;
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        border: 0;

        font-weight: 500;
        display: flex;

        transition: 0.3s;
        cursor: pointer;

        &:hover {
          filter: brightness(0.9);
        }

        img {
          margin-right: 8px;
        }
      }

      input,
      button {
        width: 100%;
      }
    }
  }

  .button-login-with {
    margin-top: 16px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #f8f8f8;
    color: #181818;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 1px solid #4fc4cf;

    transition: 0.3s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.95);
    }
  }

  .separator {
    font-size: 14px;
    color: #a8a8b3;

    margin: 18px 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: #a8a8a8;
      margin-right: 16px;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #a8a8a8;
      margin-left: 16px;
    }
  }
}
